name: Android CI

on:
  workflow_dispatch:
  push:
    branches: [ "main" ]

jobs:
  build:
    runs-on: ubuntu-latest

    steps:
      - name: Checkout repository
        uses: actions/checkout@v4

      - name: Set up JDK 17
        uses: actions/setup-java@v4
        with:
          distribution: temurin
          java-version: 17

      - name: Debug project structure
        run: |
          echo "=== ROOT ==="
          ls -la
          echo "=== PROJECT ==="
          ls -la project || true
          echo "=== GOONING ==="
          ls -la project/gooning || true

      - name: Make gradlew executable
        run: |
          cd project/gooning
          chmod +x gradlew

      - name: Build Debug APK
        run: |
          cd project/gooning
          ./gradlew assembleDebug --stacktrace --info
